<!DOCTYPE html>
<html>
  <head>
    <title> Cloud mee </title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>

    <div class="header" id="header">
      <h2>Upload File, Copy Link & Share with your Friends</h2>
      <p class="lead">Safe<b> & Fast</b></p>
    </div>

    <form id="file-upload-form" class="uploader" enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
      <input id="img" type="file" name="img" required/>
  
      <label for="img" id="file-drag">
  
        <!-- Image Show -->
        <img id="file-image" src="#" alt="Preview" class="hidden">
  
        <!-- file Upload Section -->
        <div id="start">
          <i class="fa fa-download" aria-hidden="true"></i>
          <div>Select a file or drag here</div>
          <div id="notimage" class="hidden">Please select an image</div>
          <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
        </div>
  
        <!-- Showing Image and File Name -->
        <div class="hidden" id="response">
          <section class="uploaded-area" id="messages">
            <!-- Come form JS FIle -->
          </section>
        </div>

        <!-- Generate Link Section -->
    <section class="hidden" id="generateLink">
      <div class="generateLinkSec uploader">
        <button id="generateLinkBtn" class="btn" type="submit" href="/">Generate Link </button>
      </div>
    </section>
    <section class="" id="copyLink">
      <div class="copyLinkSec uploader">
        <input type="text" value="{{ new_url }}" id="myInput">    
        <button id="link-copy-btn" class="btn">Copy </button>
      </div>
    </section>
  
      </label>
    </form>
    
    <!-- Footer -->
    <footer>
      <h3>Foolish Developer</h3>
    </footer>

    {% block js_block %}

    <script  src={% static 'js/app.js' %} type="text/javascript"></script>

    {% endblock  %}



  </body>
</html>